* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ======================================  */
main {
    background-color: burlywood;
}

header {
    min-height: 200px;
    width: 100%;
    background-color: darkgrey;
}

/* ---------------------------- OSNOVE RESPONSIVE --------------------------------  */
.container {
    width: 100%;
    margin: 0 auto;
    min-height: 1000px;
    background-color: white;
    padding-top: 50px;
}

@media only screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}


/* ====================================================================================================================== */

/* .slider-container {
    position: relative;
}

.slider-active {
    position: relative;
    width: 100%;
    height: 620px;
    border: 2px solid black;
}

.slider-full-width {
    position: absolute;
    background-color: blueviolet;
    height: 100%;
    width: calc(5 * 100%);
    display: flex;
}

.slide {
    background-color: red;
    width: 100%;
    height: 100%;
}

.slide:nth-child(odd) {
    background-color: green;
} */



.slider-container {
    position: relative;
    width: 100%;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /*Firefox */
}

.slider-active {
    position: absolute;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.377);
    overflow: hidden;
}

.slider-fullwidth {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: row;
    left: 0px;
}

.slide {
    background-color: red;
    height: 100%;
}

.slide:nth-child(odd) {
    background-color: green;
}


@media only screen and (max-width: 767px) {
    .slider-container {
        height: 400px;
    }
}

@media only screen and (min-width: 768px) {
    .slide {
        width: 768px;
    }

    .slider-fullwidth {
        padding-left: calc((100% - 768px)/1.33);
        padding-right: calc((100% - 768px)/1.33);
    }

    .slider-container {
        height: 620px;
    }
}

@media only screen and (min-width: 1024px) {
    .slide {
        width: 1024px;
    }

    .slider-fullwidth {
        padding-left: calc((100% - 1024px)/1.33);
        padding-right: calc((100% - 1024px)/1.33);
    }

    .slider-container {
        height: 620px;
    }
}

@media only screen and (min-width: 1280px) {
    .slide {
        width: 1280px;
    }

    .slider-fullwidth {
        padding-left: calc((100% - 1280px)/1.33);
        padding-right: calc((100% - 1280px)/1.33);
    }

    .slider-container {
        height: 620px;
    }
}
